$main_color: #F7941D;
$main_color_lighter: #2b7df6;

$txt_color_light: #FFFFFF;
$txt_color_dark: #1E1E1E;

$errorColor: red;
$validColor: green;
$updated: yellow;

$font_size_base: 1rem;

$text_color_ds: #F7941D

//
//$grid-breakpoints: (
//        xs: 0,
//        sm: 576px,
//        md: 768px,
//        lg: 992px,
//        xl: 1200px
//) !default;


