{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Edition utilisateur</h1>

        <div class="card collapsable-card open">
            <div class="card-header">
                <a href="" title="Edition">Edition</a>
            </div>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>

    </div>
{% endblock %}
