{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Mon compte</h1>

        {% for user in users %}
            <a href="{{ path('front/user/edit', {'id': user.id}) }}" title="Editer"><i class="fas fa-edit"></i></a>
            <a href="{{ path('front/user/change-password', {'id': user.id}) }}" title="Changer le mot de passe"><i
                        class="fas fa-key"></i></a>
        {% endfor %}
    </div>
{% endblock %}
