{% if breadcrumb %}
{#<div class="desktop" style="width: 100%;">#}
    <div id="breadcrumb" class="d-none d-lg-block">
        <ul>
            <li>
                <a href="{{ path('index') }}" class="">

{#                    {% if app.request.locale == 'fr' %}#}
                    Accueil
{#                    {% else %}#}
{#                    Home#}
{#                    {% endif %}#}
                </a>
                {% if breadcrumb %}
                    {% for item in breadcrumb.items %}
                        <a href="{{ item.url }}">
                            {% if breadcrumb|length > 0 %}
                                <span>/</span>
                            {% endif %}

                             {{ item.text }}

                        </a>
                    {% endfor %}
                {% endif %}
            </li>
        </ul>
    </div>
{#</div>#}
{% endif %}