<div id="home_trusted_customers">
    <h2>Et d’autres nous font confiance</h2>

    <div class="row">
        <div id="customer_slider">
            {% for trustedCustomer in trustedCustomers|slice(0,5) %}
                {% if trustedCustomer.active %}
                    <div class="col-12 col-sm">
                        <div class="img-bloc">
                            <a href="{{ trustedCustomer.webUrl }}">
                                <img class="img-fluid" src="{{ trustedCustomer.LogoPaths.domain.original }}" alt=""/>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>